
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    min-height: 100%;
}

body {
    direction: rtl;
    background-color: #67d80a;
    padding-bottom: 200px;
    text-align: center;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color: white;
    margin: 16px;
}

#board {
    background-color:rgb(158, 158, 150);
    margin: auto;
    border-radius: 6px;
    text-align: center;
    display: inline-grid;
    color: white;
    border: 4px solid black;
    /* background-color: #464646; */
}

#board>div {
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snake {
    background-color: chartreuse;
    border-radius: 50%;
}

.snake.head {
    background-color: #000000;
    border: 2px solid chartreuse;
    box-sizing: border-box;
}

.apple::after {
    content: "🍓";
    font-size: 11px;
}

#score {
    font-size: 24px;
    color: white;
}

#newGame {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    
    display: none;
}

#gameOver{
    font-weight: 600;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    display: none;
}

#mobile-arrows{
    display: none;
}

#move-up::after{
    content:"⬆";
    background: white;
    font-size: 60px;
}
#move-left::after{
    content:"⬅";
    background: white;
    font-size: 60px;
}
#move-right::after{
    content:"➡";
    background: white;
    font-size: 60px;}

#move-down::after{
    content:"⬇";
    background: white;
    font-size: 60px;
}

#left-right-arrows{
    direction: ltr;
    width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (width < 500px) {
    #mobile-arrows{
        display: block;
    }
    
}